<div class="container sub-container">

    <h3>Horários Ponto de Ônibus</h3><br>

    <div class="input-group mb-3">
        <input type="text" [ngModel]="numeroPontoOnibus" (ngModelChange)="numeroPontoOnibus = $event"
            placeholder="Exemplo: 0040, 5344, 0111" class="form-control">
        <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="getHorariosPontoOnibus()">Ver horário</button>
        </div>
    </div>
    <br><br>
    <div *ngIf="!isAuthenticated" class="alert alert-warning" role="alert">
        É necessário estar autenticado para acessar este recurso
    </div>
    <div *ngIf="numeroPontoOnibusView != ''">

        <div>
            <label style="font-weight: bold; font-size: 18px;">Ponto de ônibus: {{numeroPontoOnibusView}}</label>
        </div>

        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Nº linha</th>
                    <th>Destino</th>
                    <th>Próximo</th>
                    <th>Seguinte</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of root.data">
                    <th>{{item.numeroLinha}}</th>
                    <td>{{item.destino}}</td>
                    <td>{{item.proximo}}</td>
                    <td>{{item.seguinte}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-warning" (click)="adicionarFavorito()">Favoritar</button>
        </div>
    </div>

</div>