<div class="container sub-container">
    <h3>Pontos de ônibus favoritos</h3>
    <br><br>
    <div *ngIf="!isAuthenticated" class="alert alert-warning" role="alert">
        É necessário estar autenticado para acessar este recurso
      </div>
    <div *ngIf="isAuthenticated">
        <table class="table">
            <thead>
                <tr>
                    <th>Nº ponto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of root.data">
                    <th>{{item.numeroPonto}}</th>
                    <td>
                        <button type="button" href="#" (click)="verHorarios(item.numeroPonto)"
                            class="btn btn-primary">Ver horários</button>&nbsp; &nbsp;
                        <button type="button" href="#" (click)="excluirFavorito(item.id)"
                            class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>